.modalAutorize{

  width: 40%;
  min-height: 40%;
  position: fixed;
  border: 3px solid darkslategray;
  border-radius: 3px;
  top: 20%;
  left: 30%;
}

.header{
  display: flex;
  justify-content: space-around;
  margin: 5px;
}

.main{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

input{
  border: 2px solid #000000;
  border-radius: 3px;
  margin-top: 2px;
}
